.btn {
    cursor: pointer;
    color: $color-text-default;
    font-size: 1.2rem;
    margin: 2px;
    box-sizing: border-box;
    height: $unit;
    width: $size-1u;
    position: relative;
    border-radius: $btn-radius;
    border: 1px solid transparent;

    &:hover {
        color: $color-white;
        background: $color-bg-hovered;
    }

    &:active,
    &--pressed {
        color: $color-white;
        background:
            linear-gradient(180deg, #767676 0%, #989898 100%) padding-box,
            linear-gradient(180deg, #C3C3C3 0%, #B5B5B5 9.9%, #BDBDBD 100%) border-box;
    }

    &--default {
        background:
            linear-gradient(180deg, #E4E4E4 0%, #C7C7C7 100%) padding-box,
            linear-gradient(180deg, #F1F1F1 0%, #D3D3D3 9.9%, #BDBDBD 100%) border-box;
    }

    &--mod {
        color: $color-white;
        background:
            linear-gradient(180deg, #B6BDC1 0%, #A3A9AC 100%) padding-box,
            linear-gradient(180deg, #F1F1F1 0%, #D3D3D3 9.9%, #BDBDBD 100%) border-box;
    }

    &--auto {
        flex-grow: 2;
    }

    &--1_25u {
        width: $size-1_25u + 4px;
    }

    &--1_5u {
        width: $size-1_5u + 4px;
    }

    &--1_75u {
        width: $size-1_75u + 4px;
    }

    &--2u {
        width: $size-2u + 4px;
    }

    &--2_25u {
        width: $size-2_25u + 4px;
    }

    &__alt {
        font-size: 0.8rem;
        position: absolute;
        left: 0.4rem;
        top: 0.3rem;
    }
}